.adminLayout {
    display: flex;
    position: relative;
    flex-direction: column;
}

.adminLayout > .admin_body {
    display: flex;
    flex-direction: row;
}

.admin_content {
    min-width: 0px;
    width: 0px;
    min-height: 979px;
    height: max-content;
    flex-grow: 1;
    display: flex;
}
