.admin_content {
    min-width: 0px;
    width: 0px;
    min-height: 979px;
    height: max-content;
    flex-grow: 1;
    display: flex;
}

.adminLayout > div:nth-child(2) {
    display: flex;
    flex-direction: row;
}
