.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: auto;
    background-color: #ffffff;
    /* min-height: 800px; */
    /* height: 800px; */
    min-width: 740px;
    border-radius: 16px;
    padding: 24px;
    z-index: 1000;
}

.modalBackground {
    position: fixed;
    inset: 0;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    pointer-events: all;
    background-color: rgb(0, 0, 0, 0.2);
}

.modalWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    height: max-content;
    gap: 24px;
}

.modalHeader {
    width: 100%;
    padding: 0px 0px 24px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modalHeaderTitle {
    font-weight: 600;
    font-size: 14px;
}

.modalHeaderClose {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.modalHeaderClose > svg {
    height: 20px;
    width: 20px;
}

.footer {
    display: flex;
    justify-content: center;
}

.footerButton {
    background-color: #999999;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 8px 0px;
    padding: 4px 24px 4px 24px;
    cursor: pointer;
    min-width: 400px;
    min-height: 50px;
    border: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100px;
}
